# .gitignore

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.whl

# Virtual environments
.env
.venv
venv/
ENV/

# Unit test / coverage reports
.pytest_cache/
.coverage
.coverage.*
coverage.xml
coverage.json
htmlcov/
.tox/
.nox/

# test data
#tests/data

# tools/
tools/

# Type checker / linter caches
.mypy_cache/
.ruff_cache/
.dmypy.json
.pyre/

# Editors / IDEs
*.swp
*~
.vscode/
.idea/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# rdf
workspace/


# Generated or local output
outputs/
docs/
docs/_build/
docs/.doctrees/
docs/site/
argparse
sys
